# --- Parsing Data ---
pypdf
pydicom
pillow

# --- Vector DB ---
chromadb
rank-bm25

# --- AI ---
transformers
open_clip_torch
torch
torchvision

# --- Data Validation ---
numpy
matplotlib
pydantic
python-dotenv
pytest

# --- UI ---
streamlit
